<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFcQd5rcAT8Ci4LtUOBrtC71MDVOmDam0</string>
	<key>GCM_SENDER_ID</key>
	<string>629950526379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beity.beity</string>
	<key>PROJECT_ID</key>
	<string>beity-ad796</string>
	<key>STORAGE_BUCKET</key>
	<string>beity-ad796.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629950526379:ios:71616fd2d0156ce6af58ee</string>
</dict>
</plist>